# output of `go build`
contrast-go-installer

# Binaries for programs and plugins
*~
*.tmp
*.exe
*.dll
*.so
*.dylib
*.spk

# editor settings
.vscode
.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# direnv config
.envrc
