<h1><a id="accounts">Configuring the AWS account</a></h1>
<p>
    Accounts provide Octopus with the credentials required to interact with cloud platforms. In order for us to deploy to AWS, we must create an AWS account.
</p>
<p>
    AWS accounts are made up of an access and secret key. The documentation at <a href="https://aws.amazon.com/premiumsupport/knowledge-center/create-access-key/">https://aws.amazon.com/premiumsupport/knowledge-center/create-access-key/</a> provides instructions for creating AWS access keys.
</p>
<p>
    To create the associated AWS account in Octopus, apply the Terraform configuration in the <strong>terraform/accounts/octopus</strong> directory using the following commands:
</p>
<pre>cd terraform/accounts/octopus
terraform init
terraform apply</pre>
<p>
    You are prompted for the URL of your Octopus instance, the Octopus API key, the ID of the space to apply the configuration to, the AWS access key, and the AWS secret key. Terraform then displays a list of changes and prompts you to apply them. Once the configuration is applied new account called <strong>AWS Account</strong> is created:
</p>
<div><img alt="Octopus accounts" src="images/octopus/awsaccount.png"/></div>
<p>
    To verify the account works as expected, click it, and then click the <strong>SAVE AND TEST</strong> button:
</p>
<div><img alt="Octopus account test" src="images/octopus/awsaccountest.png"/></div>
<h2>Breaking down the HCL</h2>
<p>
    We start by defining the AWS account. This account does not belong to any tenants or environments, making it globally available. The AWS keys reference variables allowing them to be passed in when the Terraform configuration is applied:
</p>
<pre>resource "octopusdeploy_aws_account" "account_aws_account" {
    name                              = "AWS Account"
    description                       = ""
    environments                      = []
    tenant_tags                       = []
    tenants                           = null
    tenanted_deployment_participation = "Untenanted"
    access_key                        = "${var.account_aws_account_access}"
    secret_key                        = "${var.account_aws_account}"
  }</pre>
<p>
    The AWS keys are exposed as variables:
</p>
<pre>variable "account_aws_account" {
    type        = string
    nullable    = false
    sensitive   = true
    description = "The AWS secret key associated with the account AWS Account"
  }
  
  variable "account_aws_account_access" {
    type        = string
    nullable    = false
    sensitive   = false
    description = "The AWS access key associated with the account AWS Account"
  }</pre>
<p>
    With the account configured the next step is to configure the environments.
</p>