<h1><a id="wrapup">Wrapping Up</a></h1>
<p>
    This guide showed you how to deploy a simple AWS Lambda based application with Octopus. The deployment was implemented across multiple individual projects that:
</p>
<ul>
    <li>
        Deployed a shared API Gateway instance.
    </li>
    <li>
        Deployed a Lambda exposing a REST API via API Gateway.
    </li>
    <li>
        Deployed a static website hosted in S3 and exposed via API Gateway.
    </li>
</ul>
<p>
    We also created the associated Octopus resources required to support these deployments, including:
</p>
<ul>
    <li>
        An AWS account.
    </li>
    <li>
        The Development and Production environments.
    </li>
    <li>
        A Maven feed to consume the application artifacts.
    </li>
    <li>
        A library variable set containing shared variables.
    </li>
</ul>
<p>
    All of these resources were created with Terraform, with example Terraform configuration files showing how to configure each aspect of the Octopus space.
</p>
<p>
    We compared the integrated CaC functionality in Octopus with configuring projects via external Terraform modules, and demonstrated how Terraform is used to configure CaC deployment projects.
</p>
<p>
    The Terraform modules were then incorporated into a GitOps workflow integrating Terraform, GitHub Actions, and Octopus.
</p>
<p>
    The end result formed the basis of a repeatable and customizable workflow that can be modified to suit your own internal requirements.
</p>
