<h1><a id="environments">Configuring the environments</a></h1>
<p>
    Octopus environments typically represent copies of infrastructure that deployments are progressed through. For example, you may have a development environment where engineering teams deploy their applications as they make changes. Once a version of the application is ready to be tested it is promoted to a test environment where QA and product owners can review the new functionality. Once all testing is complete and the business signs off the application is deployed to the production environment where it is made available to end users.
</p>
<p>
    To create the environments in Octopus, apply the Terraform configuration in the <strong>terraform/environments/octopus</strong> directory using the following commands:
</p>
<pre>cd terraform/environments/octopus
terraform init
terraform apply</pre>
<p>
    You are prompted for the URL of your Octopus instance, the Octopus API key, and the ID of the space to apply the configuration to. Terraform then displays a list of changes and prompts you to apply them. Once the configuration is applied two new environments called <strong>Development</strong> and <strong>Production</strong> are created:
</p>
<div><img alt="Octopus environments" src="images/octopus/environments.png"/></div>
<p>
    The new environments are automatically included in the default lifecycle, which defines the order in which deployments are progressed through environments:
</p>
<div><img alt="Octopus environments" src="images/octopus/lifecycles.png"/></div>
<h2>Breaking down the HCL</h2>
<p>
    We have two environments for this sample application. The first is the <strong>Development</strong> environment, which is typically used to expose versions of the application under active development with other internal members of the DevOps team:
</p>
<pre>resource "octopusdeploy_environment" "environment_development" {
      name                         = "Development"
      description                  = "An environment for the development team."
      allow_dynamic_infrastructure = true
      use_guided_failure           = false
      sort_order                   = 0
    
      jira_extension_settings {
        environment_type = "unmapped"
      }
    
      jira_service_management_extension_settings {
        is_enabled = false
      }
    
      servicenow_extension_settings {
        is_enabled = false
      }
    }</pre>
<p>
    The second environment is the <strong>Production</strong> environment. This is typically where versions of the application are deployed for public access by end users or customers.
</p>    
<p>
    Note the <strong>sort_order</strong> property, which specifies that the <strong>Production</strong> environment appears after the <strong>Development</strong> environment. This is because the order in which environments are sorted is directly reflected in the <strong>Default Lifecycle</strong>. We need the <strong>Development</strong> environment to have a lower sort value so it will appear first in the default lifecycle:
</p>
<pre>resource "octopusdeploy_environment" "environment_production" {
      name                         = "Production"
      description                  = "The production environment."
      allow_dynamic_infrastructure = true
      use_guided_failure           = false
      sort_order                   = 1
    
      jira_extension_settings {
        environment_type = "unmapped"
      }
    
      jira_service_management_extension_settings {
        is_enabled = false
      }
    
      servicenow_extension_settings {
        is_enabled = false
      }
    
    }</pre>
<p>
    With the environments created, the next step is to define shared global variables with a library variable set.
</p>
