<h1><a id="intro">Welcome</a></h1>
<p>
    Welcome to the sales engineering guide to AWS Lambda deployments. This book will guide you through the process of deploying a sample microservice application to AWS using API Gateway, Lambdas, and S3 with Octopus.
</p>
<p>
    Each chapter steps you through the configuration of the Octopus resources required to perform AWS Lambda deployments. By the end of the book you will have implemented a repeatable and customizable GitOps deployment process ready to use in your own organization.
</p>