<h1><a id="libraryvariablesets">Configuring shared variables</a></h1>
<p>
    Library variable sets provide a way to share variables across many projects. This allows projects to access a common set of variables capturing cross cutting details such as accounts, AWS regions, and names of CloudFormation stacks that multiple projects query for outputs.
</p>
<p>
    To create the AWS account in Octopus, apply the Terraform configuration in the <strong>terraform/libraryvariablesets/octopus</strong> directory using the following commands:
</p>
<pre>cd terraform/libraryvariablesets/octopus
terraform init
terraform apply</pre>
<p>
    You will be prompted for the URL of your Octopus instance, the Octopus API key, and the ID of the space to apply the configuration to. Terraform then displays a list of changes and prompts you to apply them. Once the configuration is applied a new library variable set called <strong>Octopub</strong> containing three variables is created:
</p>
<ul>
    <li><strong>AWS.Account</strong> - A reference to the account created previously.</li>
    <li><strong>AWS.CloudFormation.ApiGatewayStack</strong> - The name of the CloudFormation stack that will create the shared API Gateway.</li>
    <li><strong>AWS.Region</strong> - The AWS region that the resources are created in.</li>
</li>
<div><img alt="Octopus environments" src="images/octopus/libraryvariableset.png"/></div>
<p>
    We now have all the global resources required to begin deploying AWS resources. The next step is to deploy a shared API Gateway instance.
</p>
