<h1><a id="quickstart">Quick Start</a></h1>
<p>
    For those that just want to see the end result of the process documented in this book, the following commands will deploy all the Octopus resources.
</p>
<p>
    A first optional step is to define the required Terraform variables as environment variables. Doing so means Terraform will not prompt for any variables when applying the configuration.
</p>
<p>
    The following commands define the environment variables in Bash:
</p>
<pre>export TF_VAR_octopus_server=https://yourinstance.octopus.app
export TF_VAR_octopus_apikey=API-YOURAPIKEY
export TF_VAR_octopus_space_id=Spaces-1
export TF_VAR_account_aws_account_access=YOUR_AWS_ACCESS_KEY_GOES_HERE
export TF_VAR_account_aws_account=YOUR_AWS_SECRET_KEY_GOES_HERE</pre>
<p>
    The following commands define the environment variables in Powershell:
</p>
<pre>$env:TF_VAR_octopus_server = "https://yourinstance.octopus.app"
$env:TF_VAR_octopus_apikey = "API-YOURAPIKEY"
$env:TF_VAR_octopus_space_id = "Spaces-1"
$env:TF_VAR_account_aws_account_access = "YOUR_AWS_ACCESS_KEY_GOES_HERE"
$env:TF_VAR_account_aws_account = "YOUR_AWS_SECRET_KEY_GOES_HERE"</pre>
<p>
    The Terraform configuration is then applied with the following commands:
</p>    
<pre>git clone https://github.com/mcasperson/AWSLambdaOctopusDeployment.git
cd AWSLambdaOctopusDeployment

pushd terraform/feeds/octopus
terraform init
terraform apply
popd

pushd terraform/accounts/octopus
terraform init
terraform apply
popd

pushd terraform/environments/octopus
terraform init
terraform apply
popd

pushd terraform/libraryvariablesets/octopus
terraform init
terraform apply
popd

pushd terraform/apigateway/octopus
terraform init
terraform apply
popd

pushd terraform/products/octopus
terraform init
terraform apply
popd

pushd terraform/frontend/octopus
terraform init
terraform apply
popd
</pre>
